body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;

}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.row button {
  font-family: "Ubuntu";
  padding: 5% auto;
}

/* feature section */
#features{
  padding: 7% 15%;
  background-color: #fff;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* downlaod button */
.download-button {
  margin: 5% 3% 5% 0
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 4rem;
  right: 30%;
  position: absolute;
}

#features {
  padding: 7% 15%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-image {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-image:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  /* padding: 7% 15%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text{
  line-height: 1.5;
  font-size: 2.5rem;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-heading{
  line-height: 1.5;
  font-size: 2.5rem;
}

.price-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    margin: auto;
    transform: rotate(0);
  }
}

/* footer */
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.footer-promote{
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
}

#footer{
  background-color: #fff;
  padding: 5% 15%;
  text-align: center;
}

.ficon{
  margin: 10px;
  padding-bottom: 30px;
}

.footer{
  color: grey;
  text-align: center;
  font-size: 1rem;
}
